// src/widgets/hero/ui/style.scss
// Импортируем общий файл с зависимостями
@use '../../../scss/abstracts/mixins' as *;

.hero {
  position: relative;
  display: flex;
  align-items: end;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right calc($ms-1 * 2);

  @include breakpoint(old-phones) {
    background-size: contain;
  }

  @include breakpoint(phones) {
    background-size: contain;
  }

  @include breakpoint(tablet) {
    background-size: auto 22vw;
  }

  @include breakpoint(desktops) {
    background-size: auto 15vw;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;

    @include breakpoint(old-phones) {
      background: var(--deep-coal, #20201d);
      opacity: 0.4;
    }

    @include breakpoint(phones) {
      background: var(--deep-coal, #20201d);
      opacity: 0.4;
    }

    @include breakpoint(tablet) {
      background: linear-gradient(
        90deg,
        rgb(0 0 0 / 100%) 60%,
        rgb(0 0 0 / 70%) 70%,
        rgb(0 0 0 / 30%) 85%,
        rgb(0 0 0 / 0%) 100%
      );
      opacity: 1;
    }

    @include breakpoint(desktops) {
      background: linear-gradient(90deg, rgb(0 0 0 / 100%) 74%, rgb(0 0 0 / 0%) 100%);
    }
  }

  &__title {
    position: relative;
    inset-block-start: -2vi;
    inline-size: min(100vi, 1000px);
    margin: 0 auto;
    padding: 0 $ms-1;
    color: var(--white);
    font-family: var(--base-font-family);
    font-weight: var(--semibold);
    font-size: clamp(1.618rem, 1.1474rem + 2.3529vw, 2.618rem);
    letter-spacing: normal;
    text-transform: capitalize;
  }
}
