// src/widgets/form/ui/style.scss
// // Импортируем общий файл с зависимостями
// @import '../../../scss/abstracts/mixins';

// .form__wrapper {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   gap: var(--ms-02);

//   @include breakpoint(tablet) {
//     gap: var(--ms-1);
//   }

//   fieldset {
//     display: grid;
//     border: none;
//   }

//   label {
//     padding-block-start: var(--ms-02);

//     span {
//       display: inline-block;
//       inline-size: 20px;
//       block-size: 20px;
//       margin-block-end: var(--ms-02);
//       vertical-align: middle;
//       background: var(--link-button-background-color, #373633);
//     }
//   }

//   input[type='radio'] + span {
//     border-radius: 50%;
//   }

//   input[type='radio']:checked + span {
//     border: 4px solid var(--accent-color, #998238);
//   }

//   input[type='checkbox']:checked + span {
//     background: url('../../../images/svg/check.svg') no-repeat center / contain;
//   }

//   input[type='radio']:focus-visible + span,
//   input[type='checkbox']:focus-visible + span {
//     box-shadow: 0 0 0 5px var(--outline-color);
//   }

//   .select-container {
//     position: relative;

//     &::after {
//       content: '\ea50';
//       position: absolute;
//       inset-block-start: 0;
//       right: var(--ms-01);
//       font-family: icomoon, sans-serif !important;
//       font-size: var(--ms-1);
//       transform: rotate(180deg);
//     }
//   }

//   select {
//     inline-size: 100%;
//     border: none;
//     border-radius: var(--ms-02);
//     padding: var(--ms-02) var(--ms-0);
//     background: var(--link-button-background-color);
//     appearance: none;
//   }

//   .item {
//     grid-column: span 2;

//     @include breakpoint(tablet) {
//       grid-column: span 1;
//     }

//     &-type-a {
//       grid-column: span 2;

//       @include breakpoint(tablet) {
//         grid-column: 2 / span 1;
//       }
//     }
//   }

//   .input {
//     border: none;
//     border-radius: var(--ms-02);
//     padding: var(--ms-02) var(--ms-0);
//     background: var(--main-background-color);
//     caret-color: var(--outline-color);

//     @include breakpoint(phones) {
//       margin-block-end: var(--ms-1);
//     }

//     &:invalid {
//       background: var(--link-button-background-color);
//     }
//   }

//   .file-selector {
//     cursor: pointer;
//   }

//   button {
//     @include button-variant(
//       --link-color,
//       --link-button-background-color,
//       --link-color-hover,
//       --accent-color
//     );
//   }
// }

// input[type='range'] {
//   inline-size: 100%;
//   height: 8px;
//   appearance: none;
//   border-radius: var(--ms-02);
// }

input[type='range']::-webkit-slider-thumb {
  background: var(--accent-color, #998238);
  border: 1px solid #000000;
  border-radius: var(--ms-02);
  inline-size: 16px;
  block-size: 26px;
  margin-block-start: -8px;
  cursor: pointer;
  appearance: none;
  visibility: hidden;
}

input[type='range']::-moz-range-thumb {
  background: var(--accent-color, #998238);
  border: 1px solid #000000;
  border-radius: var(--ms-02);
  inline-size: 16px;
  block-size: 26px;
  cursor: pointer;
  visibility: hidden;
}

input[type='range']::-webkit-slider-runnable-track {
  inline-size: 100%;
  block-size: var(--ms-01);
  border: none;
  border-radius: var(--ms-02);
  cursor: pointer;
}

input[type='range']::-moz-range-track {
  inline-size: 100%;
  block-size: var(--ms-01);
  border: none;
  border-radius: var(--ms-02);
  cursor: pointer;
}
